*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(140deg,#8686ff,#92fcf5);
    color:#fff;
    padding-top: 4%;
    padding-left: 6%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}

.container h1 img{
    width: 60px;
}

.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#1892fd,#571094);
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    margin: 30px 0px 20px;

}

.container button img{
    width: 25px;
    margin-right: 8px;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #000;
    padding: 20px;
    margin: 20px 0px;
    outline: none;
    border-radius: 5px;
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

